<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <!--<div class="el-contactUs">-->
    <!--<ul class="el-left">-->
        <!--<li>Business hours are:</li>-->
        <!--<li>Monday - Friday: 8:30am - 5:00pm UTC/GMT+08:00</li>-->
        <!--<li>Saturday & Sunday: Closed</li>-->
    <!--</ul>-->
    <!--<ul class="el-right">-->
        <!--<li>Many of your questions can be answered in our FAQ Sections:</li>-->
        <!--<li>1.Information about Ordering</li>-->
        <!--<li>2.Help with Personalization</li>-->
        <!--<li>3.Shipping Information</li>-->
        <!--<li>4.Help with Your Account</li>-->
        <!--<li>5.Customer Service</li>-->
    <!--</ul>-->
    <!--</div>-->
    <!--<div class="el-formAbove">-->
        <!--<p>Still can't find the answer?  Please contact us using the form below:</p>-->
        <!--<p>Submit the following form and your request will be handled within 1 business day.</p>-->
    <!--</div>-->
    <div class="el-formBottom">
            <ul class="el-address-left">
                <li>China</li>
                <li>66 Huichang Road</li>
                <li>Wuxi Jiangsu China 214174</li>
                <li>Tel: 86510 83621166</li>
                <li>Fax: 86510 83621155</li>
            </ul>
            <ul class="el-address-right">
                <li>Australia</li>
                <li>33 Rose Crescent</li>
                <li>Auburn NSW 2144</li>
                <li>Tel: 02 97381118</li>
                <li>Fax: 02 97381476</li>
            </ul>
        <div>
            <p>Email: service@t2s.online  or  support@time2shop.com.cn</p>
            <p>Social: Twitter Facebook LinkedIn Pinterest</p>
        </div>
    </div>

</body>
</html>